html {
    width: 100%;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #025464;
    color: #F8F1F1;
    margin: 0;
    font-size: 1.5em;
}
h1 {
    text-align: center;
}
a {
    text-decoration-line: none;
    font-weight: bold;
    color: #F8F1F1;
}
a:hover {
    font-weight: bold;
    color: #fffacc;
}

#holder {
    display: grid;
    grid-template-columns: auto;
    max-width: 99rem;
    width: 100%;
}

#html {
    background: #E57C23;
    padding-left: 1em;
}

#python {
    background: #E8AA42;
    padding-left: 1em;
}

#sql {
    background: #49c5ff;
    padding-left: 1em;
}

#web-frameworks {
    background: #ff4949;
    padding-left: 1em;
}

@media (orientation: landscape) {
    #holder {
        grid-template-columns: 50% 50%;
    }
}