html {
  height: 100%;
  width: 100%;

}

body {
  font-family: monospace, bold;
  text-align: center;
  background-image: linear-gradient(to bottom right, #005f5f, #008f5f);
  display: flex;
  align-items: center;
  height: 100%;
  flex-direction: column;
  font-size: xx-large;
}

h1 {
  color: cyan;
}